<!DOCTYPE html>
<html>
  <head>
    <!-- ... -->
    <% if logged_in? %>
      <p>Welcome, <%= current_user.name %>!</p>
      <%= button_to 'Logout', logout_path, method: :delete %>
    <% else %>
      <%= link_to 'Login', login_path %>
      <%= link_to 'Register', signup_path %>
    <% end %>

    <!-- ... -->
    <title>Vladapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
    <%= render 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

